@tailwind base;
@tailwind components;
@tailwind utilities;

/* update colors.ts as well
export const phillyColors = {
    navy: '#0A1929',           // Main background - slightly lighter for better readability
    deepNavy: '#000D1A',       // Darker for headers/footers - frames the content
    midnight: '#001F3F',       // Card backgrounds
    lighterNavy: '#rgb(5, 50, 97)', // Alternate card backgrounds
    gold: '#F4C430',           // Primary actions/selected states - vibrant
    mutedGold: '#C9A961',      // Secondary text/unselected states
    lightGold: '#FFD966',      // Highlights/hover states
    darkGold: '#8B7355',       // Subtle accents
    accent: '#FFA500',         // Call-to-action orange
    lightNavy: '#004080',     // Lighter navy for subtle backgrounds
    popLight: '#2C4A5E',
    cardBG: '#3B6E92'
};
*/

:root {
    --color-navy: #0A1929;
    --color-deepNavy: #000D1A;
    --color-midnight: #001F3F;
    --color-lighterNavy: #053261;
    --color-gold: #F4C430;
    --color-mutedGold: #C9A961;
    --color-lightGold: #FFD966;
    --color-darkGold: #8B7355;
    --color-accent: #FFA500;
    --color-lightNavy: #004080;
    --color-popLight: #2C4A5E;
    --color-cardBG: #3B6E92;
    --color-crimson: #DC143C;
}   


.red-text {
color: red;

}

.card-title-box {

}

.infoButton {
  padding-left: 1px;
  width: 30px;
  height: 20px;
  padding-top: 7px;
}

.valueTableContainer {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-top: 1px;
}

.card-text {
   color: var(--color-gold);
}

.table-button button {
  padding: 0;
  margin: 0;
  width: 1px;
  height: 1px;

}